.text-style {
    -fx-effect: dropshadow(one-pass-box, rgb(21, 19, 21), 10, 0.0, 10, 10);
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-fill: rgb(13, 1, 20);
}

.bt-st {
    -fx-background-color: linear-gradient(#028d22, #001809);
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-border-radius: 50;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.3), 10, 0.0, 0, 5);
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}

.bt-st:hover {
    -fx-background-color: linear-gradient(#0e1208, #89838a);
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.5), 15, 0.0, 0, 7);
}

.bt-st:pressed {
    -fx-background-color: linear-gradient(#e7f474, #dfe5be);
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.7), 10, 0.0, 0, 5);
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}